import React from 'react';

interface {{ name }}Props {
  children: JSX.Element;
}

function {{ name }}({ children }: {{ name }}Props) {
  return <p>I am a new component</p>;
}
{{ name }}.defaultProps = {} as Partial<{{ name }}Props>;

export default {{ name }};
